@page "/users"
@using Template.Shared.Dto.User
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>User Page</PageTitle>

<CustomCard Class="mb-2">
    <h1>Users</h1>
</CustomCard>

<PaginatedListView GetUrl="/User" EditUrl="/user" T="UserDto" CancellationToken="ComponentDetached">
    <PropertyColumn TProp="string" TGridItem="UserDto" Property="@(e => e.Name)"/>
    <PropertyColumn TProp="string" TGridItem="UserDto" Property="@(e => e.Surname)"/>
    <PropertyColumn TProp="string" TGridItem="UserDto" Property="@(e => e.Username)"/>
    <PropertyColumn TProp="string" TGridItem="UserDto" Property="@(e => e.Email)"/>
    <PropertyColumn TProp="string" TGridItem="UserDto" Property="@(e => e.PhoneNumber ?? "")"/>
    <TemplateColumn TGridItem="UserDto" Title="Firma">
        @context.Owner?.Name
    </TemplateColumn>
</PaginatedListView>